<div id="botones-navegacion" class="fixed-bottom">
    <div class="iconos" [ngClass]="{activo: iconoActivo == 'home'}" (click)="verHome()">
        <fa-icon [icon] = "faHome"></fa-icon>
    </div>
    <div class="iconos" [ngClass]="{activo: iconoActivo == 'ordenes'}" (click)="verOrdenes()" >
        <fa-icon [icon] = "faClipboardList"></fa-icon>
    </div>
    <div class="iconos" [ngClass]="{activo: iconoActivo == 'perfil'}" (click)="verPerfil()" >
        <fa-icon [icon] = "faUser"></fa-icon>
    </div>
    <div class="iconos" [ngClass]="{activo: iconoActivo == 'deseos'}" (click)="verListaDeseos()" >
        <fa-icon [icon] = "faHeart"></fa-icon>
    </div>
    <div  class="iconos" [ngClass]="{activo: iconoActivo == 'carrito'}" (click)="verCarrito()" >
        <fa-icon [icon] = "faShoppingCart"></fa-icon>
    </div>
</div>