<app-barra-retroceso></app-barra-retroceso>
<main>
    <div class="container">
        <div class="mb-4">
            <img src="../../assets/img/informativo.png" alt="informativo" id="imagen-informativa">
        </div>

        <div class="texto-informativo mb-4">
            <h3 class="mb-3" style="font-weight: 800;">Ordena todo lo que desees</h3>
            <p style="font-size:.85rem">Puedes realizar tus pedidos desde cualquier lugar de nuestro país.</p>
        </div>

        <div class="mt-5">
            <button type="button" class="btn btn-primary" href="#">Ir por mi cuenta</button>
        </div>
    </div>
</main>
