<main id="main-carrito">
    <app-barra-retroceso></app-barra-retroceso>
    <div id="contenedor-productos" class="mt-5">
        <div id="productos-carrito">
            <p id="titulo-carrito">Carrito de compras</p>
            <app-item-carrito></app-item-carrito>
            <app-item-carrito></app-item-carrito>
            <app-item-carrito></app-item-carrito>
            <app-item-carrito></app-item-carrito>
            <app-item-carrito></app-item-carrito>
            <app-item-carrito></app-item-carrito>
        </div>
        <div class="fixed-bottom" id="total-carrito">
            <div id="total">
                <p id="pagar">Total a pagar</p>
                <p id="pagar-cantidad">$769.00</p>
            </div>
            <div id="siguiente">
                <button class="btn btn-primary" id="btn-siguiente" [routerLink]="['/confirmar-compra']" routerLinkActive="router-link-active" >Siguiente</button>
            </div>
        </div>
    </div>
</main>