<div class="carrito my-2" id="item-producto">
    <div class="item" id="item-img">
        <img src="../../assets/img/img.svg">
    </div>
    <div id="item-textos">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-descripcion">
            Lorem, ipsum dolor.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
    <div id="item-botones">
        <div id="borrar">
            <div id="item-borrar"><i class="fas fa-times"></i></div>
        </div>
        <div id="item-cantidad">
            <button class="cambiar-cantidad"><i class="fas fa-minus icono"></i></button>
            <input id="cant" type="number" min="1" max="999">
            <button class="cambiar-cantidad"><i class="fas fa-plus icono"></i></button>
        </div>
    </div>
</div>