<div class="carrito my-2">
    <div class="item" id="item-img">
        <img src="../../assets/img/img.svg">
    </div>
    <div style="display: flex;
    flex-direction: column;
    justify-content: center;">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-descripcion">
            Lorem, ipsum dolor.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
    <div id="item-botones">
        <div id="borrar">
            <div id="item-borrar"><fa-icon [icon]='faTimes'></fa-icon></div>
        </div>
        <div id="item-cantidad">
            <button class="cambiar-cantidad" (click)="minus()"><fa-icon  style="color: grey;" [icon]='faMinus'></fa-icon></button>
            <input id="cant" type="number" min="1" max="100" [(ngModel)]="count" disabled>
            <button class="cambiar-cantidad" (click)="plus()"><fa-icon  style="color: grey;" [icon]='faPlus'></fa-icon></button>
        </div>
    </div>
</div>