<app-barra-retroceso></app-barra-retroceso>
<main id="main-categoria-empresa" class="my-5">
    <p id="titulo-carrito">Ordenes pendientes</p>
    <div id="productos-orden" class="mb-5"  style="overflow-y:scroll;">
        <div id="card-historial-ordenes" class="my-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
        <div id="card-historial-ordenes" class="mb-2">
            <div class="contenido-card-orden">
                <span>Codigo: 0000001</span>
                <span>Estado: pendiente</span>
                <span>Fecha entrega: 2021/03/23</span>
            </div>
            <div class="precio-card-orden">
                <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
                <div class="estilo-btn-perfil"><fa-icon [icon] = faChevronRight></fa-icon></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>
