<form>
    <div id="metodo-pago">
        <p id="texto-metodo">Método de pago</p>
        <div class="item-metodo">
            <div>
                <label class="form-check-label" for="efectivo" id="texto-efectivo">Efectivo</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="metodo" id="efectivo">
            </div>
        </div>
        <div class="item-metodo">
            <div>
                <label class="form-check-label" for="tarjetaCredito" id="texto-tarjeta">Tarjeta de crédito</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="metodo" id="tarjetaCredito">
            </div>
        </div>
    </div>
    <div id="direccion-entrega">
        <p id="texto-direccion">Dirección de entrega</p>
        <button type="button" id="btn-agregar-direccion">Agregar nueva dirección + </button>
        <select class="form-select my-2" id="select-direcciones">
            <option selected disabled>Selecciona una dirección</option>
            <option value="direccion-1">Dirección 1</option>
        </select>
    </div>
</form>