<form>
    <div id="metodo-pago">
        <p id="texto-metodo">Método de pago</p>
        <div class="item-metodo">
            <div>
                <label class="form-check-label" for="efectivo" id="texto-efectivo">Efectivo</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="metodo" id="efectivo" (click)="ocultarFormularioTarjeta()">
            </div>
        </div>
        <div class="item-metodo">
            <div>
                <label class="form-check-label" for="tarjetaCredito" id="texto-tarjeta">Tarjeta de crédito</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="metodo" id="tarjetaCredito" (click)="mostrarFormularioTarjeta()">
            </div>
        </div>
        <div class="card p-3" *ngIf="mostrarForm">
            <div class="form-group px-2" >
                <label id="label-nombre-titular" for="input-nombre-titular">Nombre del Titular</label>
                <input id="input-nombre-titular" type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group px-2">
                <label id="label-numero-tarjeta" for="input-numero-tarjeta">Numero de tarjeta</label>
                <input id="input-numero-tarjeta" type="number" class="form-control" placeholder="4444444444444444">
            </div>
            <div class="form-group" style="display: flex;">
                <div class="px-1">
                    <label id="label-fecha-vencimiento" for="input-fecha-vencimiento">Vencimiento</label>
                    <input id="input-fecha-vencimiento" type="text" class="form-control" placeholder="mm/aaaa">
                </div>
                <div class="px-1">
                    <label id="label-cvv" for="input-cvv">CVV</label>
                    <input id="input-cvv" type="number" class="form-control" placeholder="666">
                </div>
            </div>
        </div>
    </div>
    <div id="direccion-entrega">
        <p id="texto-direccion">Dirección de entrega</p>
        <button type="button" id="btn-agregar-direccion" (click)="mostrarMapa()">Cambiar dirección + </button>
        <div *ngIf="verMapa">
            <app-map (onLatLon) = "latlong($event)"></app-map>
            <div class="card px-3 my-2">
                <div class="form-group py-2" style="display: flex;">
                    <div class="px-1">
                        <label id="label-latitud" for="input-latitud">Latitud</label>
                        <input id="input-latitud" type="text" class="form-control" name="lat" [(ngModel)]="latitud">
                    </div>
                    <div class="px-1">
                        <label id="label-longitud" for="input-longitud">Longitud</label>
                        <input id="input-longitud" type="number" class="form-control" name="lon" [(ngModel)]="longitud">
                    </div>
                </div>
                <div class="form-group px-2" >
                    <label id="label-direccion" for="input-direccion">Dirección</label>
                    <input id="input-direccion" type="text" class="form-control" name="dir" [(ngModel)]="direccion">
                </div>
                <div class="form-group px-2" >
                    <label id="label-referencia" for="input-referencia">Referencia</label>
                    <input id="input-referencia" type="text" class="form-control" name="ref" [(ngModel)]="referencia">
                </div>
            </div>
        </div>
        <!-- <select class="form-select my-2" id="select-direcciones" *ngIf="!verMapa">
            <option selected disabled>Selecciona una dirección</option>
            <option value="direccion-1">Dirección 1</option>
        </select> -->
        <div *ngIf="!verMapa">
            <div class="form-group py-2" style="display: flex;">
                <div class="px-1">
                    <label id="label-latitud" for="input-latitud">Latitud</label>
                    <input id="input-latitud" type="text" class="form-control" name="lat2" [(ngModel)]="latitud">
                </div>
                <div class="px-1">
                    <label id="label-longitud" for="input-longitud">Longitud</label>
                    <input id="input-longitud" type="number" class="form-control" name="lon2" [(ngModel)]="longitud">
                </div>
            </div>
            <div class="form-group px-2" >
                <label id="label-direccion" for="input-direccion">Dirección</label>
                <input id="input-direccion" type="text" class="form-control" name="dir2" [(ngModel)]="direccion">
            </div>
            <div class="form-group px-2" >
                <label id="label-referencia" for="input-referencia">Referencia</label>
                <input id="input-referencia" type="text" class="form-control" name="ref2" [(ngModel)]="referencia">
            </div>
        </div>
    </div>
</form>