<div id="header-perfil-empresa" class="mb-5">
    <div id="barra-perfil-empresa" class="py-2 mb-5">
        <div id="flecha-atras">
            <div id="atras-icon">
                <fa-icon [icon] = "faArrowLeft"></fa-icon>
            </div>
        </div>
    </div>
    <div id="informacion-perfil-empresa">
        <div id="imagen-perfil-empresa" style="width: 75px;">
            <img src="../../assets/img/One_User_Orange.png" alt="" style="width: 100%;">
        </div>
        <div id="datos-perfil-empresa" class="py-2 pt-2 px-4">
            <h4 style="font-weight: bold;margin-bottom: 0rem;">Juana Perez</h4>
            <span>ejemplo@gmail.com</span>
        </div>
    </div>
    <div style="text-align: center;" class="pt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, exercitationem?
    </div>
    <hr style="margin-inline:10px;">
    <div id="estrellas-perfil-empresa">
        <fa-icon [icon] = "faStar" class="px-1"></fa-icon>
        <fa-icon [icon] = "faStar" class="px-1"></fa-icon>
        <fa-icon [icon] = "faStar" class="px-1"></fa-icon>
        <fa-icon [icon] = "faStar" class="px-1"></fa-icon>
        <fa-icon [icon] = "faStar" class="px-1"></fa-icon>
    </div>
    <hr style="margin-inline:10px;">
    <main id="contenedor-perfil-empresa">
        <div style="text-align: start;">
            <h5 style=" font-weight: bold;">Productos</h5>
        </div>
        <app-productos></app-productos>
        <app-footer></app-footer>
    </main>
</div>
