<app-barra-retroceso></app-barra-retroceso>
<main id="main-registro-exitoso-cliente" class="container">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div class="container">
        <div class="my-5" id="texto-registro-exitoso">¡Registro realizado con éxito!</div>
        <div class="my-5">
            <img src="../../assets/img/registro-exitoso-cliente.png" alt="registro exitoso cliente" id="imagen-registro-exitoso-cliente">
        </div>
        <div class="my-5">
            <a type="button" class="btn btn-primary" id="btn-continuar-registro-exitoso" href="#">Continuar</a>
        </div>
    </div>
</main>