<div id="historial-ordenes" style="display: flex; flex-direction: column;" class="mb-4 mt-2">
    <div id="card-historial-ordenes" class="mb-2">
        <div class="contenido-card-orden">
            <span>Codigo: 0000001</span>
            <span>Estado: entregado</span>
            <span>Fecha entrega: 2021/03/23</span>
        </div>
        <div class="precio-card-orden">
            <span style="font-size: 18px;" class="mb-1">L. 230.00</span>
            <div class="estilo-btn-perfil"><fa-icon [icon] = "faChevronRight"></fa-icon></div>
        </div>
    </div>
</div>
