<app-barra-retroceso></app-barra-retroceso>
<main id="main-registro-exitoso-cliente" class="container">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div class="container">
        <div class="my-5" id="texto-registro-exitoso">¡Compra realizada éxitosamente!</div>
        <div class="my-5">
            <img src="../../assets/img/compra-exitosa.svg" alt="registro exitoso cliente" id="imagen-registro-exitoso-cliente">
        </div>
        <div class="my-5">
            <a type="button" class="btn btn-primary" id="btn-continuar-registro-exitoso" [routerLink]="['/home']" routerLinkActive="router-link-active" >Regresar a inicio</a>
        </div>
    </div>
</main>