<main id="main-registro-exitoso-cliente" class="container my-5">
    <div id="logo">
        <img src="../../assets/img/Logotipo.svg" alt="Logo">
    </div>
    <div class="container">
        <div class="my-5" id="texto-registro-exitoso">¡Compra realizada éxitosamente!</div>
        <div class="my-5">
            <img src="../../assets/img/compra-exitosa.svg" alt="registro exitoso cliente" id="imagen-registro-exitoso-cliente">
        </div>
        <div class="my-5">
            <a type="button" class="btn btn-primary" id="btn-continuar-registro-exitoso" (click)="irHome()">Regresar a inicio</a>
        </div>
    </div>
</main>
<ngx-spinner
    bdColor="rgba(255,255,255,.9)"
    size = "large"
    color = "#FEB949"
    type="ball-fussion"
    [fullScreen] = "true"
    >
</ngx-spinner>