<main id="main-categoria-empresa">
    <app-barra-retroceso></app-barra-retroceso>
    <div id="titulo-productos">
        <p id="titulo-carrito">Categoria: Restaurantes</p>
        <div id="productos-carrito">
            <div id="item-producto" class="carrito my-2" *ngFor="let empresa of empresas" [routerLink]="['/empresa-productos', empresa.id]" routerLinkActive="router-link-active" >
                <div id="item-img" class="item">
                    <img src="../../assets/img/img.svg">
                </div>
                <div id="item-textos">
                    <div id="item-nombre">
                        {{empresa.nombre}}
                    </div>
                    <div id="item-descripcion">
                        {{empresa.descripcion}}
                    </div>
                    <div id="item-precio">
                        <fa-icon [icon] = faStar></fa-icon> {{empresa.calificacion}}
                    </div>
                </div>
                <div id="favorito">
                    <div id="item-favorito">
                        <fa-icon [icon] = "faHeart"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>
