<div class="cards-productos my-2" id="item-producto">
    <div class="item" id="item-img" style="justify-content: center;flex: 1;">
        <img src="../../assets/img/img.svg">
    </div>
    <div id="item-textos" style="text-align: start;flex: 2;justify-content: space-around;">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
</div>
<div class="cards-productos my-2" id="item-producto">
    <div class="item" id="item-img" style="justify-content: center;flex: 1;">
        <img src="../../assets/img/img.svg">
    </div>
    <div id="item-textos" style="text-align: start;flex: 2;justify-content: space-around;">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
</div>
<div class="cards-productos my-2" id="item-producto">
    <div class="item" id="item-img" style="justify-content: center;flex: 1;">
        <img src="../../assets/img/img.svg">
    </div>
    <div id="item-textos" style="text-align: start;flex: 2;justify-content: space-around;">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
</div>
<div class="cards-productos my-2" id="item-producto">
    <div class="item" id="item-img" style="justify-content: center;flex: 1;">
        <img src="../../assets/img/img.svg">
    </div>
    <div id="item-textos" style="text-align: start;flex: 2;justify-content: space-around;">
        <div id="item-nombre">
            Lorem, ipsum.
        </div>
        <div id="item-precio">
            $399.99
        </div>
    </div>
</div>