<div class="cards-productos my-2" style="color: grey;">
    <div class="producto-empresa card mb-2" id="item-producto" *ngFor="let item of productos">
        <div class="card-body">
            <div class="item" id="item-img" style="justify-content: center;flex: 1;">
                <img [src]="item.imagen" class="card-img-top">
            </div>
            <div id="item-textos" style="text-align: start;flex: 2;justify-content: space-around;">
                <div>
                    <div id="item-nombre"  style="text-align: center;">
                        {{item.nombre}}
                    </div>
                    <div style="font-size: large;">
                        {{item.descripcion}}
                    </div>
                </div>
            </div>
            <hr>
            <div style="display: flex;justify-content: space-around;">
                <div id="item-precio" style="font-size: larger;">
                    L. {{item.precio}}
                </div>
                <button class="btn btn-primary px-4" (click)="agregarProductoCarrito(item)">
                    <div style="font-size: larger;">
                        <fa-icon [icon]="faCartPlus"></fa-icon>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>