<!-- Just an image -->
<nav class="navbar navbar-light bg-light" style="height: 62px!important;">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/Logotipo.svg" width="150" alt="">
    </a>
</nav>

<div class="header-landing">
    <div class="mb-3">
        <img src="../../assets/img/undraw_On_the_way_re_swjt 1.svg" alt="">
    </div>
    <div>
        <h2 style="margin-bottom: 0px;"><strong>¡Bienvenido!</strong></h2>
        <p style="font-weight: 500;font-size: 20px;margin-bottom: 2px;">Somos una de las mejores delivery apps</p>
        <span style="font-size: 15px;font-weight: 900;">Quieres descubrir todos nuestros</span><br>
        <span style="font-size: 15px;font-weight: 900;">productos más populares</span>
    </div>
    <div>
        <button id="boton-iniciar-sesion" type="button" class="btn btn-primary all-btn" [routerLink]="['/informativo']" routerLinkActive="router-link-active" >Ordena ya</button>
    </div>
</div>
