<!-- Just an image -->
<nav class="navbar navbar-light bg-light px-3" style="height: 65px!important;">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/Logotipo.svg" width="150" alt="">
    </a>
</nav>

<div class="header-landing">
    <div class="mb-3">
        <img src="../../assets/img/undraw_On_the_way_re_swjt 1.svg" alt="">
    </div>
    <div>
        <h2 style="margin-bottom: 0px;"><strong>¡Bienvenido!</strong></h2>
        <p style="font-weight: 500;font-size: 20px;margin-bottom: 2px;">Somos una de las mejores delivery apps</p>
        <span style="font-size: 15px;font-weight: 900;">Quieres descubrir todos nuestros</span><br>
        <span style="font-size: 15px;font-weight: 900;">productos más populares</span>
    </div>
    <div>
        <button id="boton-iniciar-sesion" type="button" class="btn btn-primary all-btn" [routerLink]="['/informativo']" routerLinkActive="router-link-active" >Ordena ya</button>
    </div>
</div>

<div class="caracs">
    <div class="carac">
        <div class="img-carac">
            <fa-icon [icon]='faBookOpen' class="icon-carac"></fa-icon>
        </div>
        <div class="titulo-carac font-weight-bold pt-3">
            Lorem, ipsum dolor.
        </div>
        <div class="descripcion-carac pt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vero obcaecati suscipit, dolorum necessitatibus quisquam.
        </div>
    </div>
    <div class="carac">
        <div class="img-carac">
            <fa-icon [icon]='faDolly' class="icon-carac"></fa-icon>
        </div>
        <div class="titulo-carac font-weight-bold pt-3">
            Lorem, ipsum dolor.
        </div>
        <div class="descripcion-carac pt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vero obcaecati suscipit, dolorum necessitatibus quisquam.
        </div>
    </div>
</div>

<div class="banner-moto">
    <div class="contenido-banner-moto">
        <div class="moto-titulo">
            Se parte de nuestro equipo
        </div>
        <div class="moto-texto">
            Registrate como motorista
        </div>
    </div>
    <div class="img-moto">
        <img src="../../assets/img/img-moto.svg">
    </div>
</div>