<div id="categorias">
    <div style="text-align: start;font-weight: bold;">
        <h3>Categorías</h3>
    </div>
    <div id="cartas-categorias">
        <div class="card-item mb-3 card" *ngFor="let item of categorias" [ngStyle]="{'border-color': 'rgba(128,128,128);', 'color':'grey'}">
            <div class="card-body" style="padding: .5rem;" (click)="detalleCategoria(item)">
                <img [src]="item.icono" class="card-img-top p-3">
                <div class="my-1" style="font-weight: bold;">
                    {{item.nombre}}
                </div>
                <!-- <a class="btn btn-outline-secondary btn-item-categoria"  [routerLink]="['/empresas-categoria', item.id]" routerLinkActive="router-link-active" ><fa-icon [icon] = "faChevronRight"></fa-icon></a> -->
            </div>
        </div>
    </div>
</div>
