<div id="categorias">
    <h3>Categorías</h3>
    <div id="cartas-categorias">
        <div class="card mb-2 mx-2 card-item">
            <div class="card-body">
                <img src="../../assets/img/img.svg" class="card-img-top">
                <div class="my-2" style="font-weight: bold;">
                Empresa
                </div>
                <button class="btn btn-outline-secondary btn-item-categoria"><fa-icon [icon] = "faChevronRight"></fa-icon></button>
            </div>
        </div>
    </div>
</div>
