<div id="header">
    <div id="logo-ajustes">
        <div id="logo">
            <img id="imagen-logo" src="../../../assets/img/Logotipo.svg" alt="Logo">
        </div>
        <div id="configuracion" [routerLink]="['/perfil']" routerLinkActive="router-link-active" ><fa-icon [icon] = "faUserCog"></fa-icon></div>
    </div>
    <div id="bienvenida">
        <p id="saludo" *ngIf="nombreCliente">¡Hola {{nombreCliente}}!</p>
        <p id="saludo" *ngIf="!nombreCliente">¡Hola!</p>
        <p id="pregunta">¿Qué necesitas pedir hoy?</p>
    </div>
    <div id="busqueda">
        <form>
            <div id="grupo-busqueda" class="input-group">
                <input id="input-busqueda" type="text" class="form-control" placeholder="Buscar" style="max-height: 50px;margin:0px;">
                <div class="input-group-prepend" style="max-height: 38px;">
                    <div id="icono-busqueda" class="input-group-text" style="background-color: white;"><fa-icon [icon] = "faSearch"></fa-icon></div>
                </div>
            </div>
        </form>
    </div>
    <div id="baner-descuento">
        <div id="texto-banner">
            <p id="porcentaje-banner">35% de descuento</p>
            <p id="pedidos-banner">En tus primeros 10 pedidos</p>
        </div>
        <img id="imagen-regalo" src="../../assets/img/Gift.png" alt="regalo">
    </div>
</div>
<main id="contenido-principal">
    <app-item-empresa-home></app-item-empresa-home>
    <app-categorias></app-categorias>
</main>
<app-footer></app-footer>
<ngx-spinner
    bdColor="rgba(255,255,255,.9)"
    size = "large"
    color = "#FEB949"
    type="ball-fussion"
    [fullScreen] = "true"
    >
</ngx-spinner>
