<div id="empresas-favs" class="mb-4 mt-2">
    <div class="item-empresa card mb-2" href="empresas.html">
        <div class="card-body">
            <img src="../../assets/img/img.svg" class="card-img-top" alt="...">
            <div style="text-align: left;">
                <div style="font-weight: bold;">Nombre</div>
                <div style="font-size: 15px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                    Lorem ipsum dolor sit amet.
                </div>
                <div style="display:flex;justify-content:flex-end;align-items: baseline;padding-top: 3px;">
                    <fa-icon [icon] = "faTrash"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
