<div id="empresas-top" class="my-3">
    <div style="text-align: start;font-weight: bold;">
        <h3>Empresas top</h3>
    </div>
    <div id="cartas-empresas">
        <div class="card mb-2 mx-2 pb-2 item-empresa" *ngFor="let item of empresas" [routerLink]="['/empresa-productos', item.id]" routerLinkActive="router-link-active" >
            <div class="card-body"  style="padding: 0.4rem;">
                <img [src]="item.logo" class="card-img-top" alt="...">
                <!-- <div class="estrellas">
                    <fa-icon [icon] = "faStar"></fa-icon>
                </div> -->
            </div>
            <div style="font-weight: bold;">{{item.nombre}}</div>
        </div>
    </div>
</div>